.ProfileCard {
  padding: 24px;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  margin-top: 24px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}