.AppLink {
  padding: 8px 12px;
  border-radius: var(--border-radius);

  background-color: var(--colors-bg-inverted);
  color: var(--colors-text-inverted);
}

.active {
  color: var(--colors-active-link);
}